/*body,html{*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-color: rgb(210,105,30);*/
/*}*/

/*.box{*/
    /*width: 130%;*/
    /*padding: 10%;*/
    /*margin-top: 15%;*/
    /*background-color: #ffffff;*/
    /*position: absolute;*/
    /*right: -65%;*/
/*}*/

/*.f{*/
    /*font-size: 80px;*/
    /*color: rgb(210,105,30);*/

/*}*/

/*p{*/
    /*color: #8c837f;*/
/*}*/

/*.btn-info{*/
    /*border-radius: 0;*/
    /*background-color: rgb(210,105,30);*/
    /*margin-top: 20px;*/
    /*padding: 14px 20px;*/
/*}*/

.body-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.box{
    width: 300px;
    height: 300px;
    background-color: white;

}