body,header{
	background-color: rgb(210,105,30);
}

.card-container.card{
	max-width: 420px;
	padding: 40px 40px;
	position: absolute;
	width: 350px;
}

.card{
	background-color: rgb(255,255,255);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 25px 12px;
	margin: 90px auto 25px;
}

.btn{
	height: 45px;
}

.error-block{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,0,0,0.7);
	border-radius: 5px;
	height: 2.5rem;
	color: white;
}